@font-face {
	font-family: "PF FreeScript";
	src: url("../assets/PFFreeScript-Bold.woff2") format("woff2"),
		url("../assets/PFFreeScript-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PF FreeScript";
	src: url("../assets/PFFreeScript-Regular.woff2") format("woff2"),
		url("../assets/PFFreeScript-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "CF Asty Std";
	src: url("../assets/CFAstyStd-Book.woff2") format("woff2"),
		url("../assets/CFAstyStd-Book.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "CF Asty Std";
	src: url("../assets/CFAstyStd-Bold.woff2") format("woff2"),
		url("../assets/CFAstyStd-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "CF Asty Std";
	src: url("../assets/CFAstyStd-Medium.woff2") format("woff2"),
		url("../assets/CFAstyStd-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
